<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>uni000A</key>
    <string>uni000A_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>uni2029</key>
    <string>uni2029.glif</string>
    <key>malaspacja</key>
    <string>malaspacja.glif</string>
    <key>stemK</key>
    <string>stemK_.glif</string>
    <key>gorP.brzh</key>
    <string>gorP_.brzh.glif</string>
    <key>stemI.krt</key>
    <string>stemI_.krt.glif</string>
    <key>stemKRT</key>
    <string>stemK_R_T_.glif</string>
    <key>gorBbrzh</key>
    <string>gorB_brzh.glif</string>
    <key>stemK.krt</key>
    <string>stemK_.krt.glif</string>
    <key>stemG</key>
    <string>stemG_.glif</string>
    <key>gorST.brzh</key>
    <string>gorS_T_.brzh.glif</string>
    <key>luD1</key>
    <string>luD_1.glif</string>
    <key>luD2</key>
    <string>luD_2.glif</string>
    <key>gorPS.brzh</key>
    <string>gorP_S_.brzh.glif</string>
    <key>luT1</key>
    <string>luT_1.glif</string>
    <key>luT2</key>
    <string>luT_2.glif</string>
    <key>luKL</key>
    <string>luK_L_.glif</string>
    <key>luSJ</key>
    <string>luS_J_.glif</string>
    <key>dolCZbrzh</key>
    <string>dolC_Z_brzh.glif</string>
    <key>dolSZ.brzh</key>
    <string>dolS_Z_.brzh.glif</string>
    <key>dolDRZ.brzh</key>
    <string>dolD_R_Z_.brzh.glif</string>
    <key>poczPUA</key>
    <string>poczP_U_A_.glif</string>
    <key>koniecPUA</key>
    <string>(null).glif</string>
    <key>stemG.krt</key>
    <string>stemG_.krt.glif</string>
    <key>stemI</key>
    <string>stemI_.glif</string>
    <key>uniD00F</key>
    <string>uniD_00F_.glif</string>
    <key>luUs</key>
    <string>luU_s.glif</string>
    <key>koloS</key>
    <string>koloS_.glif</string>
    <key>koloZ</key>
    <string>koloZ_.glif</string>
    <key>eprost3</key>
    <string>eprost3.glif</string>
    <key>eprost4</key>
    <string>eprost4.glif</string>
    <key>luD3</key>
    <string>luD_3.glif</string>
    <key>luD4</key>
    <string>luD_4.glif</string>
    <key>luT3</key>
    <string>luT_3.glif</string>
    <key>luT4</key>
    <string>luT_4.glif</string>
    <key>okroci</key>
    <string>okroci.glif</string>
    <key>ellipsis</key>
    <string>(null).glif</string>
    <key>prostaVOW</key>
    <string>prostaV_O_W_.glif</string>
    <key>prostaCONS</key>
    <string>prostaC_O_N_S_.glif</string>
    <key>konCONS</key>
    <string>konC_O_N_S_.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>konVOW</key>
    <string>konV_O_W_.glif</string>
    <key>eprost2</key>
    <string>eprost2.glif</string>
    <key>dolMv.brzhd</key>
    <string>dolM_v.brzhd.glif</string>
    <key>luGL</key>
    <string>luG_L_.glif</string>
    <key>dolTW</key>
    <string>dolT_W_.glif</string>
    <key>dolMK30</key>
    <string>dolM_K_30.glif</string>
    <key>dolTWe</key>
    <string>dolT_W_e.glif</string>
    <key>dolMKE</key>
    <string>dolM_K_E_.glif</string>
    <key>luU0</key>
    <string>luU_0.glif</string>
    <key>luU2</key>
    <string>luU_2.glif</string>
    <key>luNdol</key>
    <string>luN_dol.glif</string>
    <key>dolLUK</key>
    <string>dolL_U_K_.glif</string>
    <key>eprost0</key>
    <string>eprost0.glif</string>
    <key>eprost1</key>
    <string>eprost1.glif</string>
    <key>eprost5</key>
    <string>eprost5.glif</string>
    <key>eprost6</key>
    <string>eprost6.glif</string>
    <key>gorMKE</key>
    <string>gorM_K_E_.glif</string>
    <key>koloL</key>
    <string>koloL_.glif</string>
    <key>gorZD.brzhd</key>
    <string>gorZ_D_.brzhd.glif</string>
    <key>dolDv.brzhd</key>
    <string>dolD_v.brzhd.glif</string>
    <key>luU1</key>
    <string>luU_1.glif</string>
    <key>luU3</key>
    <string>luU_3.glif</string>
    <key>luU4</key>
    <string>luU_4.glif</string>
    <key>luU5</key>
    <string>luU_5.glif</string>
    <key>luUa0</key>
    <string>luU_a0.glif</string>
    <key>luUa1</key>
    <string>luU_a1.glif</string>
    <key>luUa2</key>
    <string>luU_a2.glif</string>
    <key>luUa3</key>
    <string>luU_a3.glif</string>
    <key>luUa4</key>
    <string>luU_a4.glif</string>
    <key>luKLY</key>
    <string>luK_L_Y_.glif</string>
    <key>dolMK45</key>
    <string>dolM_K_45.glif</string>
    <key>dolTW.alt</key>
    <string>dolT_W_.alt.glif</string>
    <key>gorMK45</key>
    <string>gorM_K_45.glif</string>
    <key>okredzi</key>
    <string>okredzi.glif</string>
    <key>okrodzi</key>
    <string>okrodzi.glif</string>
    <key>okreci</key>
    <string>okreci.glif</string>
    <key>luNgor</key>
    <string>luN_gor.glif</string>
    <key>luNOdol</key>
    <string>luN_O_dol.glif</string>
    <key>luONgor</key>
    <string>luO_N_gor.glif</string>
    <key>OstrI</key>
    <string>O_strI_.glif</string>
    <key>gorLUK</key>
    <string>gorL_U_K_.glif</string>
    <key>gorOMluk</key>
    <string>gorO_M_luk.glif</string>
    <key>dolMOluk</key>
    <string>dolM_O_luk.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>g_l</key>
    <string>g_l.glif</string>
    <key>c_i</key>
    <string>c_i.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>n.TW</key>
    <string>n.T_W_.glif</string>
    <key>n.TWe</key>
    <string>n.T_W_e.glif</string>
    <key>gorTWe</key>
    <string>gorT_W_e.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>spac.v50.h0</key>
    <string>spac.v50.h0.glif</string>
    <key>spac.v80.h0</key>
    <string>spac.v80.h0.glif</string>
    <key>spac.v160.h0</key>
    <string>spac.v160.h0.glif</string>
    <key>spac.v400.h900</key>
    <string>spac.v400.h900.glif</string>
  </dict>
</plist>
